[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
coverage = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "==2.7.1"
whitenoise = "*"
markdown = "*"
django-filter = "*"

[requires]
python_version = "3.6"
